{% extends "www/base.html" %}

{% block body_class %}articles{% endblock %}
{% block content %}
<h1>Fotos do Dr. Frank</h1>
<br/>
<br/>

<p align="justify">
	<div class="storytext">
		<strong>
			Entre 9 e 12 de novembro, Dr. Frank participou, buscando a excelência no atendimento a seus pacientes, em Gramado (RS) do congresso da 
			<a href="http://sbcbm2011.com.br/apresentacao/index.php/">SBCBM</a> (Sociedade Brasileira de Cirurgia Bariátrica e Metabólica).
		</strong>
	</div>

	<br />
	<p>
		Confira <a href="http://sbcbm2011.com.br/programacao/index.php">aqui</a> a programação científica do congresso com os mais renomados cirurgiões do país.
	</p>
	
	<br />
	<br />
	<br />
	<br />
	<p>
		Dr. Frank participou buscando a excelência no atendimento a seus pacientes. Marque uma <a alt="contato" href="/contact/">consulta</a>.
	</p>

</p>

<br />
<br />

{% endblock %}