{% extends "www/base.html" %}

{% block body_class %}articles{% endblock %}
{% block content %}
    <h1>Fazer dieta não reduz número de células de gordura, diz estudo</h1>
    <br/>
    <br/>
    <p align="justify"><div class="storytext">
<strong>Uma pesquisa realizada por especialistas suecos aponta que fazer dieta n&atilde;o diminui o n&uacute;mero de c&eacute;lulas de gordura do corpo
humano. </strong>

</div>
<p class="storytext">
Os especialistas, da Universidade 
Karolinska, dizem que a quantidade de c&eacute;lulas de gordura &ndash; adip&oacute;citos &ndash; &eacute;
definida durante
a adolesc&ecirc;ncia e permanece invari&aacute;vel pelo resto da 
vida, mesmo que a pessoa venha a desenvolver obesidade no futuro.
</p>
<p class="storytext">
Os pesquisadores fizeram uma 
experi&ecirc;ncia com centenas de crian&ccedil;as, adolescentes e adultos e 
descobriram que as c&eacute;lulas de
gordura se multiplicavam durante a inf&acirc;ncia, mas que 
uma vez atingida a idade adulta, o n&uacute;mero continuava o mesmo.

</p>
<p class="storytext">
<!-- end_story -->Durante os testes, eles retiraram amostras de gordura de alguns pacientes que se preparavam para se submeter &agrave; cirurgia de
redu&ccedil;&atilde;o do est&ocirc;mago, um dos &uacute;ltimos recursos utilizados pela medicina moderna na luta contra a obesidade. 
</p>
<p class="storytext">
Depois que os pacientes emagreceram, os cientistas retiraram uma nova amostra de gordura para averig&uuml;ar se a quantidade de
adip&oacute;citos havia reduzido. 
</p>
<p class="storytext">
Eles perceberam, ent&atilde;o, que as c&eacute;lulas de gordura n&atilde;o haviam diminu&iacute;do em quantidade, mas no tamanho.

</p>
<p class="storytext">
Na avalia&ccedil;&atilde;o do coordenador da pesquisa, Kirsty Spalding, o estudo representa uma m&aacute; not&iacute;cia para quem vive fazendo dietas.
</p>
<p class="storytext">
&ldquo;Isso explica por que &eacute; t&atilde;o dif&iacute;cil perder peso e manter os quilos a menos, porque as c&eacute;lulas de gordura n&atilde;o est&atilde;o indo a
lugar nenhum. Elas ficam ali, pedindo mais comida&rdquo;, explicou ele.

</p>
Os resultados da pesquisa foram publicados na revista <em>Nature</em>.
</p>
    
{% endblock %}