{% extends "www/base.html" %}

{% block body_class %}articles{% endblock %}
{% block content %}
<h1>Metade da população mundial 'está obesa ou acima do peso'</h1>
<br/>
<br/>

<p align="justify"><div class="storytext">
<strong>Mais de metade da popula&ccedil;&atilde;o mundial est&aacute; obesa
ou acima do peso, apontou uma pesquisa global publicada nesta 
ter&ccedil;a-feira na revista cient&iacute;fica americana <em>Circulation Journal</em>.</strong>

</div>
<p class="storytext">
O
estudo, que analisou dados de 182.970 pessoas de 63 pa&iacute;ses nos cinco 
continentes, mostrou que 50% das mulheres e 60% dos homens analisados 
est&atilde;o acima do peso ou obesos.
</p>
<p class="storytext">
Ao considerar 
apenas os dados sobre obesidade, o levantamento revelou que um quase um 
quarto dos homens (24%) e 27% das mulheres est&atilde;o obesos.
</p>
<p class="storytext">
<!-- end_story -->Os
cientistas, liderados pelo m&eacute;dico Berverley Balkau, do Instituto 
Nacional de Sa&uacute;de e Pesquisas M&eacute;dicas da Fran&ccedil;a, utilizaram o &Iacute;ndice de 
Massa Corporal (IMC) para avaliar o grau de obesidade dos volunt&aacute;rios. 

</p>
<p class="storytext">
O
IMC &eacute; um padr&atilde;o internacional e &eacute; calculado dividindo-se o peso pela 
altura ao quadrado. Pessoas com IMC entre 18 e 24 est&atilde;o dentro do peso, 
as que se enquadram entre 25 e 30 est&atilde;o acima, e as que ultrapassaram o 
&iacute;ndice de 30 s&atilde;o consideradas obesas.
</p>
<p class="storytext">
<strong>Doen&ccedil;as associadas</strong>

</p>
<p class="storytext">
O
pa&iacute;s com maior n&uacute;mero de obesos - entre os analisados - foi o Canad&aacute; 
(36%) e as regi&otilde;es com os menores &iacute;ndices de obesidade foram o leste e o
sul asi&aacute;tico (7%). Os Estados Unidos n&atilde;o foram analisados na pesquisa. 
</p>
<p class="storytext">
A &Aacute;frica do Sul (33%) e os pa&iacute;ses do Oriente M&eacute;dio (36%) tamb&eacute;m apresentaram grandes &iacute;ndices de obesidade. 

</p>
<p class="storytext">
Na Am&eacute;rica Latina, os pesquisadores identificaram que 29% dos pesquisados estavam obesos.
</p>
<p class="storytext">
&ldquo;Os
resultados da pesquisa mostram que o excesso de peso est&aacute; virando uma 
pandemia, com mais da metade da popula&ccedil;&atilde;o acima do peso ou obesa&rdquo;, disse
Berverley Balkau. 
</p>
<p class="storytext">
O levantamento ainda 
pesquisou como a obesidade est&aacute; afetando a sa&uacute;de das pessoas e revelou 
que entre os entrevistados, 16% dos homens 13% das mulheres apresentavam
doen&ccedil;as cardiovasculares e que a diabetes atingia 13% dos homens e 11% 
das mulheres em todas as regi&otilde;es pesquisadas.

</p>
<p class="storytext">
&ldquo;A
obesidade est&aacute; associada diretamente ao aumento do risco de doen&ccedil;as 
cardiovasculares e diabetes e se tornou um grande problema de sa&uacute;de 
p&uacute;blica que amea&ccedil;a boa parte da popula&ccedil;&atilde;o e sobrecarrega os servi&ccedil;os 
p&uacute;blicos de sa&uacute;de&rdquo;, conclu&iacute;ram os pesquisadores.
</p>
</p>

{% endblock %}