{% extends "www/base.html" %}
{% load i18n %}

{% block body_class %}team{% endblock %}

{% block content %}
    <div id="equipe">
        <h1>{% trans "Equipe" %}</h1>
        <br/>
        <p>Dr. HENRIQUE MACAMBIRA CRM 4686</p>
        <p>Dr. JAIME SALES CRM 3675</p>
        <p>Dr. GLAUCIO NÓBREGA CRM 4049</p>
        <p>Dr. PAULO MARCOS LOPES CRM 2511</p>
    </div>
    <br/>
    <br/>
    <div id="fotos">
        <img src="{{ MEDIA_URL }}img/cito_logo.png"/>
        <img src="{{ MEDIA_URL }}img/team.png"/>
    </div>
{% endblock %}
